<div class="table-responsive-sm">
<div class="table " >
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Bookname</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Availability</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; let i=index">
            <td>{{i+1}}</td>
            <td>{{book.bookname}}</td>
            <td>{{book.book_description}}</td>
            <td>{{book.book_price}}</td>
            <td style="color: red;">{{book.book_discount}}%</td>
            <td>{{book.book_availability}}</td>
            <td>{{book.book_author}}</td>
            <td>{{book.book_publisher}}</td>
            <td class="mr-2">
                <button class="btn btn-primary btn-sm mx-auto" routerLink="edit/{{book._id}}">Edit</button>   
            </td>
            <td>
                <button class="btn btn-danger btn-sm mx-auto" (click)="deleteData(book._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</div>
</div>


