<div class="container">
    <form (ngSubmit)="insertData()" [formGroup]="form">
        <div class="form-group">
            <label for="bookname">BookName</label>
            <input type="text"  formControlName="bookname" [ngClass]="{'is-invalid': submitted && f['bookname'].errors}" class="form-control" placeholder="EnterbookName"/>

            <div *ngIf="submitted && f['bookname'].errors " class="invalid-feedback">

                <div *ngIf="f['bookname'].errors['required'] ">required</div>
               <div *ngIf="f['bookname'].errors['pattern'] && form.touched">length should be minimum 8</div>

            </div>

        </div>

        <div class="form-group">
            <label for="book_description">Description</label>
            <input type="text" formControlName="book_description" [ngClass]="{'is-invalid': submitted && f['book_description'].errors}" class="form-control" placeholder="Description"/>

            <div *ngIf="submitted && f['book_description'].errors" class="invalid-feedback">

                <div *ngIf="f['book_description'].errors['required']">Description is required</div>
                <div *ngIf="f['book_description'].errors['pattern'] && form.touched">length should be minimum 8</div>

            </div>

        </div>
        <div class="form-group">
            <label for="book_price">Price</label>
            <input type="text" formControlName="book_price" [ngClass]="{'is-invalid': submitted && f['book_price'].errors}" class="form-control" placeholder="Price"/>
            <div *ngIf="submitted && f['book_price'].errors" class="invalid-feedback">

                <div *ngIf="f['book_price'].errors['required']">price is required</div>

            </div>
        </div>
        <div class="form-group">
            <label for="book_discount">Discount</label>
            <input type="text" formControlName="book_discount"  class="form-control" placeholder="Discount"/>
            
        </div>

        <div class="form-group">
            <label for="book_availability">Availability</label>
            <input type="text" formControlName="book_availability" [ngClass]="{'is-invalid': submitted && f['book_availability'].errors}" class="form-control" placeholder="Availability"/>
            <div *ngIf="submitted && f['book_availability'].errors" class="invalid-feedback">

                <div *ngIf="f['book_availability'].errors['required']">Description is required</div>

            </div>
        </div>
        <div class="form-group">
            <label for="book_author">Author</label>
            <input type="text" formControlName="book_author" [ngClass]="{'is-invalid': submitted && f['book_author'].errors}" class="form-control" placeholder="book_author"/>
        
            <div *ngIf="submitted && f['book_author'].errors" class="invalid-feedback">

                <div *ngIf="f['book_author'].errors['required']">Description is required</div>

            </div>
        </div>
        <div class="form-group">
            <label for="book_publisher">Publisher</label>
            <input type="text" formControlName="book_publisher" [ngClass]="{'is-invalid': submitted && f['book_publisher'].errors}" class="form-control" placeholder="PublisherName"/>
        
            <div *ngIf="submitted && f['book_publisher'].errors" class="invalid-feedback">

                <div *ngIf="f['book_publisher'].errors['required']">Publisher name is required</div>

            </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-dark btn-sm mt-4">Submit</button>
        </div>
    </form>
</div>
